$colorBleuFonce:  #2E518D;
$colorBleuClaire: #20AEE9;
$colorBleuTresClaire: #d3eafa;
$colorVert: #A8CA5A;
$colorVertHover: #93bd31;
$colorGray: #666666;

a{
    color: inherit;
}
a:link 
{ 
 text-decoration:none;

}