// @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap');
@import '../../css/declaration.scss';

section{
    padding-top: 180px;
}
h2{
    background-color: $colorBleuTresClaire;
    color: $colorBleuClaire;
    height: 45px;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faq{
    
    max-width: 1000px;
    background-color: $colorBleuTresClaire;
    border-radius: 40px;
    // cursor: pointer;
    h3{
        padding: 0 0 20px 0;
        color: $colorBleuFonce;
        text-decoration: underline;
    }
    h4{
        padding: 15px 0;
        color: $colorBleuFonce;
    }
}
.openClose{
    display: flex;
    cursor: pointer;
}
.ocClose{
    .articleClose{
        display: none;
    }
    .moins{
        display: none;
    }
    h4{
        color: $colorGray;
    }
}
.ocClose:hover{
    background-color: #c3e5fc;
    cursor: pointer;
}
.ocOpen{
    .plus{
        display: none;
    }
    .moins{
        padding-top: 20px;
    }
}
@media screen and (min-width:1081px){
    .faq{
        width: 80%;
        margin: 40px auto;
        padding: 50px 80px ;

        h3{
        font-size: 32px;
    }
    h4{
        font-size: 28px;
    }
    p,li{
        font-size: 20px;
        line-height: 30px;
    }
    li{
        margin-left: 40px;
    }
    }
    
    .ocClose{
        h4{
            font-size: 20px;
        }
    }
}
@media screen and (max-width:1080px){
    #qf{
        display: none;
    }
    .faq{
        width: 90%;
        margin: 40px auto;
        padding: 50px 5% ;
        
        h3{
        font-size: 25px;
    }
    h4{
        font-size: 20px;
    }
    p,li{
        font-size: 16px;
        line-height: 30px;
    }
    li{
        margin-left: 20px;
    }
    }
    

    .ocClose{
        h4{
            font-size: 18px;
        }
    }
}
